@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);

    --ff: Outfit, sans-serif;

    --fw-light: 400;
    --fw-bold: 700;

    --fs-h: 22px;
    --fs-p: 15;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--lightGrey);
    font-family: Outfit, sans-serif;
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    width: 320px;
    height: 497px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px;


}
.card > img  {
    height: 288px;
    border-radius: 5px;
}
.card > h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h);
    text-align: center;
    margin-top: 24px;
}
.card > p {
    text-align: center;
    color: var(--grayishBlue);
    font-weight: var(--fw-light);
    margin-top: 16px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}